@import "core/typography.scss";
@import "core/utility.scss";
@import "core/scaffold.scss";

:root {
  font-family: Raleway, system-ui, sans-serif;
  --slide-bg: white;
  --sliding-duration: 200ms;
  --fragment-duration: 100ms;
  --brand-color: #f60;
}

.our-header {
  border-left: var(--brand-color) solid .15em;
  padding: .5em;
  margin: 0 0 .5em;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
  grid-gap: 1em;
  align-items: center;
}

.cover {
  --slide-bg: var(--brand-color);
  background: var(--slide-bg) no-repeat center/133vmin url('../img/logo-antreem-contour.svg');
  color: white;
  text-align: center;

  small { display: block; }

  .uff-logo {
    height: 2em;
    display: block;
  }

  .logo {
    background: white;
    padding: .2em;
    border-radius: .5em;
    height: 5em;
  }
}

.links {
  font-size: 70%;
  align-self: center;

  li {
    margin-top: .5em;
  }
  a {
    display: block;
    width: fit-content;
    padding-left: 1.75em;
  }
}

.antreem-logo {
  position: absolute;
  height: 12em;
  right: 0;
  bottom: -4em;
}
.my-data {
  > h2 {
    margin-bottom: 0;
  }
  a {
    color: var(--brand-color);
  }
}
.my-face {
  border: .1em solid var(--brand-color);
  border-radius: 50%;
  height: 6em;
  float: left;
  margin: 0 1em;
}
.my-info {
  width: 8em;
  text-align: center;
  margin: 2em 2em 0;
  img {
    height: 1em;
    vertical-align: middle;
  }
}
.final-link {
  a {
    color: var(--brand-color);
  }
  img {
    display: block;
    margin: 1em auto 0;
    height: 7em;
  }
}

.random-features pre {
  position: absolute;
  box-shadow: 0 0 0 .1em white;
}

.ms-logo { height: 3em; }
.lang-logo { height: 5em; }
.js-text {
  background: #f7df1e;
  color: #000;
  padding: 0 .25em;
}

.shadow {
  box-shadow: 0 0 .5em rgba(black, .5);
}

.playground-slide {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: .5em 1em;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }

  a {
    text-align: center;
    grid-column-end: span 2;
  }
}

.big-x {
  &-wrapper {
    position: relative;
  }

  &::before, &::after {
    content: "";
    top: -25%;
    left: 50%;
    height: 150%;
    width: .5em;
    border-radius: .25em;
    transform: rotate(45deg);
    background: rgba(red, .9);
    position: absolute;
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.show-all.show-all {
  overflow: visible;
}

.error {
  &, & span {
    text-decoration: underline wavy red;
    text-decoration-skip: none;
  }
}

.suggestions {
  position: relative;
  width: 0;
  height: 0;
  display: inline-flex;

  ul {
    position: absolute;
    list-style: none;
    padding: .2em 0;
    margin: 0;
    border: .1em solid #454545;
    background: #252526;
    color: #d4d4d4;
    line-height: normal;
    white-space: normal;
    min-width: 14em;
  }

  &.upwards ul {
    bottom: 0;
  }

  li {
    padding: 0 .35em;
    font-size: 90%;

    &::before {
      content: "";
      display: inline-block;
      width: 1.5em;
      height: 1.2em;
      background: no-repeat left center;
      vertical-align: middle;
    }
    &::after {
      color: gray;
      font-size: 90%;
      float: right;
    }
    &.selected {
      background: #2a2d2e;
    }
    &.message {
      &::before {
        content: none;
      }
      &[data-error]::after {
        content: " (" attr(data-error) ")";
      }
    }
    &.property {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M1,5L7,1 11,3 11,7 5,11 1,9z' stroke='%2375beff' fill='none' stroke-width='1'/%3E%3Cpath d='M1,5L5,7 11,3 11,7 5,11 1,9' fill='%2375beff'/%3E%3C/svg%3E");
      }
      &.selected::after {
        content: " (property) " attr(data-desc);
      }
    }
    &.method {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6,2L10,4 10,8 6,10 2,8 2,4zM6,6L2,4M6,6L10,4M6,6v4' stroke='%23b180d7' fill='none' stroke-width='1'/%3E%3C/svg%3E%0A");
      }
      &.selected::after {
        content: " (method) " attr(data-desc);
      }
    }
  }

  p-fragment[aria-hidden="true"] & {
    display: none;
  }
}

p-deck::after {
  position: fixed;
  bottom: .5em;
  left: 0;
  right: 0;
  font-size: 50%;
  text-align: center;
  content: '@MaxArt2501';
  color: #001236;
  z-index: 100;
}
